<form name="SignForm" novalidate>

    <div>Sign up</div>

    <div>E-mail Address: </div>
    <div ng-messages="SignForm.email.$error" role="alert">
        <div ng-message="required" class="error">Please enter a proper email address.</div>
        <div ng-message="email" class="error">This field must be a valid email address.</div>
    </div>
    <input name="email" type="text" ng-model="data.email" ng-required="true" email>

    <div>First Name: </div>
    <div ng-messages="SignForm.first.$error" role="alert">
        <div ng-message="required" class="error">Please enter a value for this field.</div>
        <div ng-message="first" class="error">This field must be a valid name.</div>
    </div>
    <input name="first" type="text" ng-model="data.firstname" ng-required="true" first/>

    <div>Last Name: </div>
    <div ng-messages="SignForm.last.$error" role="alert">
        <div ng-message="required" class="error">Please enter a value for this field.</div>
        <div ng-message="last" class="error">This field must be a valid name.</div>
    </div>
    <input name="last" type="text" ng-model="data.lastname" ng-required="true" last/>

    <div>Password: </div>
    <div ng-messages="SignForm.pass.$error" role="alert">
        <div ng-message="required" class="error">Please enter a value for this field.</div>
        <div ng-message="pass" class="error">Password has to be more than six characters.</div>
    </div>
    <input name="pass" type="password" ng-model="data.pass" ng-required="true" pass/>

    <div>Verify Password: </div>
    <div ng-messages="SignForm.conf.$error" role="alert">
        <div ng-message="required" class="error">Please enter a value for this field.</div>
        <div ng-message="conf" class="error">The two passwords are not same.</div>
    </div>
    <input name="conf" type="password" ng-model="data.conf" ng-required="true" conf/>

    <input type="button" ng-click="confirm(SignForm)" ng-disabled="!(SignForm.$valid)" value="Confirm"/>
    <input type="button" ng-click="goState('login')" value="Already have a account?"/>

</form>
