.page {
    margin: 0px;
    background-color: white;
}
.topbar {
    height: 30px;
    padding: 5px 10px;
    background-color: #dddddd;
    box-shadow: 0px 1px 1px #999999;
}
.topbar-left {
    border: 0px;
    height: 30px;
    padding: 0px;
    margin: 0px 10px 0px 0px;
}
.topbar-right {
    border: 0px;
    height: 30px;
    float: right;
    padding: auto 5px;
    background-color: white;
    margin: 0px 0px 0px 10px;
}
.user {
    width: 40%;
    margin: 10% auto 0px;
    box-shadow: 0px 0px 1px 1px #bbbbbb;
}
.user .title {
    text-align: center;
    margin: 0px;
    padding: 3% 0px 5%;
}
.user .input {
    width: 78%;
    height: auto;
    display: block;
    font-size: 20px;
    padding: 1%;
    margin: 0px auto 3%;
}
.user .error {
    padding: 0px;
    width: 80%;
    color: red;
    display: block;
    font-size: 15px;
    margin: 0px auto;
}
.user .button {
    width: 80%;
    border: 2px;
    margin: 0px auto 2%;
    padding: 0px;
    color: white;
    height: auto;
    display: block;
    font-size: 20px;
    border-style: solid;
    border-color: black;
    background-color: black;
}
.user .text {
    width: 80%;
    display: block;
    padding: 0px 0px 3%;
    margin: 0px auto;
}
.user .text .content {
    border: 0px;
    width: 49%;
    margin: auto;
    padding: 0px;
    font-size: 15px;
    text-align: center;
    background-color: white;
}
.user #teacher {
    width: 100%;
    height: auto;
    padding: 0px 0px 0px 10%;
    font-size: 20px;
    min-height: 10px;
    margin: auto;
}
.user .me {
    width: 15%;
    float: left;
    margin: 0px;
    height: auto;
}
.user .selection {
    width: 20%;
    float: left;
    height: auto;
    margin: 0px 0px 3% 7.5%;
    background-color: #ffffff;
}
.user #name {
    min-height: 10px;
    width: 80%;
    height: auto;
    margin: 0px auto 3%;
    padding: 0px;
}
.user #name td {
    min-height: 10px;
    width: 50%;
    padding: 0px;
    margin: 0px;
}
.user #name input {
    min-height: 10px;
    width: 92%;
    font-size: 20px;
    padding: 2%;
    margin: 0px;
}
.user #name .error1 {
    width: 100%;
}
.user #name .error2 {
    padding-left: 6%;
    width: 100%;
}
.user #shiftL {
    transform: translate(-4px, 0px);
    float: left;
}
.user #shiftR {
    transform: translate(4px, 0px);
    float: right;
}
