.newclassroom .title {
    text-align: center;
    height: 30px;
    margin: 0px;
    padding: 3% 0px 5%;
}

.newclassroom .subtitle {

}

.newclassroom .language {

}

.newclassroom .text {

}

.newclassroom .button {

}

.newclassroom .error {
    padding: 0px;
    width: 80%;
    color: red;
    display: block;
    font-size: 15px;
    margin: 0px auto;
}

.newclassroom .input {

}