<form ng-controller="NewClassroomCont" name="NewClassroomForm" novalidate>

    <h class="title">Classroom</h>
    <h class="subtitle"> — New Classroom</h>

    <div class="newclassroom">

        <div class="language">Language
            <select name="language" class="selection"  ng-model="data.language">
                <option value="1">Java</option>
                <option value="2">Python</option>
                <option value="3">HTML,CSS,JS</option>
                <option value="4">C++</option>
                <option value="5">WatchCat</option>
            </select>
         </div>

        <div class="text">Classroom Name
            <div ng-if="NewClassroomForm.name.$touched" ng-messages="NewClassroomForm.name.$error" role="alert">
                <div ng-message="required" class="error">Please enter a value for this field.</div>
            </div>
            <input class="input" name="name" type="text" placeholder="Classroom Name" ng-model="data.name" ng-required="true">
        </div>

        <div class="text">Description
            <input class="input" name="description" type="text" placeholder="Description" ng-model="data.description" ng-required="true">
        </div>

        <input class="button" type="button" ng-click="confirm()" ng-disabled="!(NewClassroomForm.$valid)" value="Create" />
    </div>

    <!--loaded src="'classroom'"></loaded-->

</form>
